<div class="navbar" ng-hide="addTaskReq || editTaskReq || authReq || displayDetailsReq || editDetails">
	<div><p></p></div>
	<div><p></p></div>
	<div align="right">
		<button ng-click="taskCtrl.viewPersonalDetails()" class="btn btn-primary">Personal Details</button>
	</div>
	<div><p></p></div>
	<div><p></p></div>
	<div class="navbar-inner">
		<a class="brand" href="#">Task List</a>
	</div>
</div>
<div id="main" class="container" ng-hide="addTaskReq || editTaskReq || authReq || displayDetailsReq || editDetails">
	<table class= "table table-striped" ng-hide="taskCtrl.tasks.length == 0">
		<tr>
			<td style = "width: 1px;"></td>
			<td><b>Task Id</b></td>
			<td><b>Service</b></td>
			<td><b>Area</b></td>
			<td><b>OneTime/Monthly</b></td>
			<td><b>Evening Only</b></td>
			<td><b>Weekend Only</b></td>
			<td><b>Starting Price</b></td>
			<td><b>Ending Price</b></td>
			<td><b>Options</b></td>
		</tr>
		<tbody ng-repeat="task in taskCtrl.tasks">
			<tr>
				<td>
					<span class="label label-success" ng-show="task.Done">Done</span>
					<span class="label label-important" ng-hide="task.Done">In Progress</span>
				</td>
				<td>{{task.task_id}}</td>
				<td>{{task.service}}</td>
				<td>{{task.area}}</td>
				<td>{{task.type}}</td>
				<td>{{task.evening_only}}</td>
				<td>{{task.weekend_only}}</td>
				<td>{{task.starting_price}}</td>
				<td>{{task.ending_price}}</td>
				<td>
					<button ng-click="taskCtrl.beginEdit(task)" ng-show ="type=='C'" class="btn btn-primary" >Edit</button>
				</td>
			</tr>
			<tr>
				<td colspan="6">
					<table class= "table table-striped" ng-hide="task.serviceProviders.length == 0">
						<tr>
							<td><b>ServiceProvider name</b></td>
							<td><b>gender</b></td>
							<td><b>type</b></td>
							<td><b>phone</b></td>
							<td><b>rate_per_hr</b></td>
							<td><b>Availability</b></td>
						</tr>
						<tbody ng-repeat="serviceProvider in task.serviceProviders">
							<tr>
								<td>{{serviceProvider.name}}</td>
								<td>{{serviceProvider.gender}}</td>
								<td>{{serviceProvider.type}}</td>
								<td>{{serviceProvider.phone}}</td>
								<td>{{serviceProvider.rate_per_hr}}</td>
								<td>{{serviceProvider.Availability}}</td>
							</tr>
							<tr>
							<td colspan="2">
								<table class= "table table-striped"  ng-hide = "serviceProvider.reviews.length == 0">
									<tr>
										<td><b>Rating</b></td>
										<td><b>Review</b></td>
									</tr>
					
									<tbody ng-repeat="review in serviceProvider.reviews">
										<tr>
											<td>{{review.rating}}</td>
											<td>{{review.review}}</td>
										</tr>
									</tbody>
								</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<button ng-click="taskCtrl.beginAdd()" ng-show ="type=='C'" class="btn btn-primary">Add Task</button>
</div>
	   
<div id="add" class="modal" tabindex="=1" role="dialog" aria-labelledby="addDialogLabel" aria-hidden="true" ng-show = "addTaskReq">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="addTaskReq = false">X</button>
		<h3 id="addDialogLabel">Add Task</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputService">Service</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.service" type="text" id="inputService" placeholder="Painter" style="width: 150px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputType">Type</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.type" type="text" id="inputType" placeholder="One-Time" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputArea">Area</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.area" type="text" id="inputArea" placeholder="Madhapur" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputEveningOnly">Evening Only</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.evening_only" type="text" id="inputEveningOnly" placeholder="yes" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputWeekendOnly">Weekend Only</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.weekend_only" type="text" id="inputWeekendOnly" placeholder="no" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputStartingPrice">Starting Price</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.starting_price" type="text" id="inputStartingPrice" placeholder="30" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputEndingPrice">Ending Price</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.ending_price" type="text" id="inputEndingPrice" placeholder="300" style="width: 300px;">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-click="taskCtrl.addTask()" class="btn btn-primary">Add</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="addTaskReq = false">Cancel</button>
	</div>
</div>

<div id="edit" class="modal" tabindex="=1" role="dialog" aria-labelledby="editDialogLabel" aria-hidden="true" ng-show = "editTaskReq">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="editTaskReq = false">X</button>
		<h3 id="editDialogLabel">Edit Task</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="editService">Service</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.service" type="text" id="editService" placeholder="Painter" style="width: 150px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="editType">Type</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.type" type="text" id="editType" placeholder="One-Time" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="editArea">Area</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.area" type="text" id="editArea" placeholder="Madhapur" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="editEveningOnly">Evening Only</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.evening_only" type="text" id="editEveningOnly" placeholder="yes" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="editWeekendOnly">Weekend Only</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.weekend_only" type="text" id="editWeekendOnly" placeholder="no" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="editStartingPrice">Starting Price</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.starting_price" type="text" id="editStartingPrice" placeholder="30" style="width: 300px;">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="editEndingPrice">Ending Price</label>
				<div class="controls">
					<input ng-model="taskCtrl.current_task.ending_price" type="text" id="editEndingPrice" placeholder="300" style="width: 300px;">
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-click="taskCtrl.editTask()" class="btn btn-primary">Edit</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="editTaskReq = false">Cancel</button>
	</div>
</div>			   