<div id="authentication" class="modal" tabindex="=1" role="dialog" aria-labelledby="authDialogLabel" aria-hidden="true" ng-show = "authReq || editDetails">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="userCtrl.Cancel()">X</button>
		<h3 id="authDialogLabel">Personal Details</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group" ng-hide = "editDetails">
				<label class="control-label" for="username">Username</label>
				<div class="controls">
					<input ng-model="userCtrl.user.username" type="text" id="username" placeholder="Kumar123" style="width: 150px;">
				</div>
			</div>
			<div class="control-group" ng-hide = "editDetails">
				<label class="control-label" for="Password">Password</label>
				<div class="controls">
					<input ng-model="userCtrl.user.password" type="Password" id="Password" placeholder="Password" style="width: 300px;">
				</div>
			</div>
			<div class="control-group" ng-hide = "editDetails">
				<label class="control-label" for="Customer">User Type</label>
				<div class="controls">
					<p><input type="radio" name="type" ng-model="userCtrl.user.type" ng-value='T' ng-checked ="userCtrl.user.type == 'T'" ng-click="userCtrl.user.type = 'T'">  Tasker</p>
					<p><input type="radio" name="type" ng-model="userCtrl.user.type" ng-value="C" ng-checked ="userCtrl.user.type == 'C'" ng-click="userCtrl.user.type = 'C'">  Customer</p>
					
				</div>
			</div>
			
			<div ng-show = "newUserReq || editDetails">
				<div class="control-group">
					<label class="control-label" for="Name">Name</label>
					<div class="controls">
						<input ng-model="userCtrl.user.name" type="text" id="name" placeholder="Kumar" style="width: 300px;">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="Gender">Gender</label>
					<div class="controls">
						<input ng-model="userCtrl.user.gender" type="text" id="gender" placeholder="Male" style="width: 300px;">
					</div>
				</div>
				<div class="control-group" ng-show="userCtrl.user.type == 'T' || type=='T'">
					<label class="control-label" for="Company_Type">Company or Individual?</label>
					<div class="controls">
						<input ng-model="userCtrl.user.company_type" type="text" id="company_type" placeholder="Company" style="width: 300px;">
					</div>
				</div>
				<div class="control-group" ng-hide="editDetails">
					<label class="control-label" for="Area">Area</label>
					<div class="controls">
						<input ng-model="userCtrl.user.new_area" type="text" id="area" placeholder="Kondapur" style="width: 300px;">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="Phone">Phone</label>
					<div class="controls">
						<input ng-model="userCtrl.user.phone" type="text" id="phone" placeholder="9886135678" style="width: 300px;">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="Alternative_phone">Alternate Phone</label>
					<div class="controls">
						<input ng-model="userCtrl.user.alternative_phone" type="text" id="alternative_phone" placeholder="9886135688" style="width: 300px;">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="Email">e-mail</label>
					<div class="controls">
						<input ng-model="userCtrl.user.email" type="text" id="email" placeholder="kumar123@gmail.com" style="width: 300px;">
					</div>
				</div>
				<div ng-hide = "editDetails">
				<div class="control-group" ng-show ="userCtrl.user.type == 'T'  || type=='T'">
					<label class="control-label" for="Service">Service</label>
					<div class="controls">
						<input ng-model="userCtrl.user.new_service" type="text" id="service" placeholder="Plumber" style="width: 300px;">
					</div>
				</div>
				</div>
				<div class="control-group" ng-show ="userCtrl.user.type == 'T'  || type=='T'">
					<label class="control-label" for="Rate_per_hr">Rate/hr</label>
					<div class="controls">
						<input ng-model="userCtrl.user.rate_per_hr" type="text" id="rate_per_hr" placeholder="40" style="width: 300px;">
					</div>
				</div>
				<div class="control-group" ng-show ="userCtrl.user.type == 'T'  || type=='T'">
					<label class="control-label" for="Evening_work">Evening Work?</label>
					<div class="controls">
						<input ng-model="userCtrl.user.evening_work" type="text" id="evening_work" placeholder="yes" style="width: 300px;">
					</div>
				</div>
				<div class="control-group" ng-show ="userCtrl.user.type == 'T'  || type=='T'">
					<label class="control-label" for="Weekend_work">Weekend Work?</label>
					<div class="controls">
						<input ng-model="userCtrl.user.weekend_work" type="text" id="weekend_work" placeholder="yes" style="width: 300px;">
					</div>
				</div>
			</div>
			<div class="controls">
				<span ng-show = "LoginIncorrect">
					<font color="red">The username or password you entered is incorrect.</font>
				</span>
			</div>
			<div class="controls">
				<span ng-show = "signUpIncorrect">
					<font color="red">Someone already has that username</font>
				</span>
			</div>
			<div class="controls">
				<span ng-show = "detailsIncorrect">
					<font color="red">The signup details provided are incorrect.</font>
				</span>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button ng-show = "newUserReq" ng-click="userCtrl.signUpUser()" class="btn btn-primary">Sign Up</button>
		<button ng-hide = "newUserReq || editDetails" ng-click="userCtrl.firstTimeUser()" class="btn btn-primary">First Time User</button>
		<button ng-hide = "newUserReq || editDetails" ng-click="userCtrl.authenticate()" class="btn btn-primary">Login</button>
		<button ng-show = "editDetails" ng-click="userCtrl.editUserDetails()" class="btn btn-primary">Submit</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="userCtrl.Cancel()">Cancel</button>
	</div>
</div>
<div id="displayDetails" class="modal" tabindex="=1" role="dialog" aria-labelledby="displayDialogLabel" aria-hidden="true" ng-show = "displayDetailsReq">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="userCtrl.displayCancel()">X</button>
		<h3 id="editDialogLabel">Personal Details</h3>
	</div>
	<div class="modal-body">
		<table>
			<tr>
				<td><span class ="label"><b>Name</b></span></td>
				<td><span class = "value">{{userCtrl.user.name}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr>
				<td><span class= "label"><b>Gender</b></span></td>
				<td><span class="value">{{userCtrl.user.gender}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr ng-hide ="type=='C'">
				<td><span class= "label"><b>Company or Individual?</b></span></td>
				<td><span class="value">{{userCtrl.user.company_type}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr>
				<td><span class= "label"><b>Phone</b></span></td>
				<td><span class="value">{{userCtrl.user.phone}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr>
				<td><span class= "label"><b>Alternate Phone</b></span></td>
				<td><span class="value">{{userCtrl.user.alternative_phone}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr>
				<td><span class= "label"><b>e-mail</b></span></td>
				<td><span class="value">{{userCtrl.user.email}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr ng-hide ="type=='C'">
				<td><span class= "label"><b>Rate/hr</b></span></td>
				<td><span class="value">{{userCtrl.user.rate_per_hr}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr ng-hide ="type=='C'">
				<td><span class= "label"><b>Evening work?</b></span></td>
				<td><span class="value">{{userCtrl.user.evening_work}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
			<tr ng-hide ="type=='C'">
				<td><span class= "label"><b>Weekend work?</b></span></td>
				<td><span class="value">{{userCtrl.user.weekend_work}}</span></td>
			</tr>
			<tr><td></td></tr>
			<tr><td></td></tr>
		</table>
		<div class="control-group">
			<button ng-click="userCtrl.beginEditDetails()" class="btn btn-primary" >Edit Details</button>
			<button class="btn"  data-dismiss="modal" aria-hidden="true" ng-click="userCtrl.displayCancel()">Cancel</button>
		</div>			
	</div>
</div>